@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: whitesmoke;
  display: flex;
  flex-direction: column;
}
.inst{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 23vh;
    width: 100%;
    margin-top: 0vh;
}
.inst h3{
    padding-top: 1.5%;
    padding-left: 6.4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    color: black;
    font-size: 2.5vh;
}

.inst h2{
    padding-top: 4%;
    padding-left: 5.2%;
    font-family: monospace;
    font-style: normal;
    color: black;
    font-size: 3vh;
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    margin-top: 0vh;
}
.drag-area{
  background-color: #f7faff;
  border: 2px dashed #234fad;
  height: 40vh;
  width: 60%;
  border-radius: 20px;
  box-shadow: 5px 10px 10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.drag-area.active{
  border: 2px dashed #234fad;
}
.drag-area .icon{
  font-size: 100px;
  color: #274482;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #274482;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.nav1{
    background-color: #274482;
    height: 7vh;
    width: 100%;
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
}
.nav2{
    background-color: #1207e0;
    height: 7vh;
    width: 100%;
    margin-top: 0;
}
h2{
    letter-spacing: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding: 2vh;
    color: honeydew;
}

#QR{
    font-size:5vh;
    padding: 1vh;
    margin-left: 1.5%;
    color: whitesmoke;
}